@import "../../styles.scss";

.overlay {
    background-color: $white;
    margin-top: 100px;
    border-radius: 11px;
    text-align: center;
    margin-right: 125px !important;

    .locations {
        text-align: left !important;
        width: 90% !important;
        margin-left: 15px;

        .title {
            font-family: Oswald;
            margin-left: 10% !important;
            font-size: 16pt;
        }

        button::ng-deep {
            border-radius: 15px;
            background-color: $blue;
            color: $white;
            float: right;
        }    
    }

    .to {
        text-align: center !important;
    }

    button.route::ng-deep {
        border-radius: 15px;
        background-color: $blue;
        color: $white;
        margin-bottom: 5%;
        width: 60%;
    }

    mat-form-field::ng-deep {
        width: 80%;
        margin-left: 15px;
    }

    app-address-card {
        width: 50% !important;
    }
}