.tag {
    border-radius: 30px;
    color: white;
    width: 40%;
    height: 35px;
    display: flex;
    min-width: 100%;

    .tag-name {
        font-family: Poppins;
        font-weight: 400;
        margin-left: 5px;
        font-size: 11pt;
        margin-top: 7px !important;
    }

    .icon {
        margin-top: 7px !important;
        font-size: 16pt;
    }
}
.tag-active {
    border-radius: 30px;
    transition: 0.2s ease-in;
    border: 2px solid white;
    color: white;
    width: 40%;
    height: 35px;
    display: flex;
    min-width: 100%;

    .tag-name {
        font-family: Poppins;
        font-weight: 400;
        margin-left: 5px;
        font-size: 11pt;
        margin-top: 7px !important;
    }

    .icon {
        margin-top: 7px !important;
        font-size: 16pt;
    }
}
.filter {
    margin-left: -15px;
    margin-top: 15px;
    // width: 15px;
    background-color: blue;
    border-radius: 100%;
    color: white;
    text-align: center;
    z-index: 100;
}