.container {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: none;
    text-align: center;
    background-color: skyblue;
    vertical-align: middle;
    margin: 0 auto;

    .name {
        font-size: 14pt;
        margin: 0 auto;
        color: white;
    }
}