.tag {
    background-color: #1f88ff;
    border-radius: 9px;
    margin-left: 2px;
    margin-right: 2px;

    p {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 7pt;
        color: white;
    }
}