@import "../../styles.scss";

.header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: #FAEDED;
    .inner_header{
        width: 1000px;
        height: 100%;
        display: block;
        margin: 0 auto;
        background-color: $grey;
    }
    .menu{
        font-size: 35pt;
        color: $grey;
        margin-top: 10px;
        margin-left: 15px;
        cursor: pointer;
        background-color: black;
    }
    .header_icons{
        margin-top: 10px;
        float: right;
        margin-right: 15px;
        .profile{
            font-size: 35pt;
            color: $grey;
            cursor: pointer;
        }
    }
}

