<div class="row">
    <div class="col-md-12 header">
            <span class="material-icons menu" (click)="toggle_menu_display()">
                view_headline
            </span>
            <span *ngIf="is_menu_displayed">
                menu_displayed
            </span>
            <div class="header_icons">
  
                <span class="material-icons profile" (click)="navigate_to_accounts()">
                    person
                </span>
  
                <span class="material-icons profile">
                    image
                </span>
                <span class="material-icons profile">
                    flare
                </span>
            </div>  
    </div>
 </div>