@import "../../styles.scss";

.header{
    width: 100%;
    height: 60px;
    display: block;
    background-color: $yellow;
    .menu{
        font-size: 35pt;
        color: red;
        margin-top: 10px;
        margin-left: 15px;
        cursor: pointer;
    }
}