<div class="col-md-12 card">
    <div class="grid-container">
        <div class="image">
            <img src="assets/restaurant.png">
        </div>
        <div class="information">
            <h3>{{ this.name }}</h3>
                <p>{{ this.address }}</p>
            <!-- <p>{{ this.recommendationReason }}</p> -->
            <div *ngFor="let tag of tags" class="tags">
                <app-tag [tag]="tag"
                ></app-tag>
            </div>
            <button class="rate" (click)="onPoiLiked($event)"><mat-icon>thumb_up</mat-icon></button>
            <button class="rate" (click)="onPoiDisliked($event)"><mat-icon>thumb_down</mat-icon></button>
            <button mat-mini-fab class="add" (click)="onPoiAdded($event)">
                <mat-icon>{{ currentLabel }}</mat-icon>
            </button>
        </div>
    </div>
</div>