<div class="col-md-12 container">
    <div class="col-md-12 overlay" *ngIf="currentStep === 0" [formGroup]="startTripForm">
        <br>
        <div class="locations">
            <span class="title">Start Trip</span>   
        </div>
        <br>
        <mat-form-field appearence="fill">
            <mat-label>Starting Location</mat-label>
            <input matInput type="text" formControlName="startingLocation"
                    autocomplete="off">
        </mat-form-field>
        <mat-form-field appearence="fill">
            <mat-label>Ending Location</mat-label>
            <input matInput type="text"
            autocomplete="off"
            formControlName="endingLocation" 
            autocomplete="off">
        </mat-form-field>
        <br>
        <div class="buttons">
            <button mat-raised-button class="route"
            (click)="route()"
            [disabled]="isRouteDisabled"><mat-icon>directions</mat-icon> Route</button>
        </div>
    </div>

    <div *ngIf="currentStep === 1" class="col-md-12 container-trips">
        <div class="col-md-12">
            <button mat-raised-button class="refreshButton"
                (click)="route()"
                [disabled]="isRouteDisabled"><mat-icon>refresh</mat-icon> Refresh Trip</button>
        </div>
        <app-carousel [items]="tripStops" [label]="test" [startingLocation]="startingLocation" [endingLocation]="endingLocation"></app-carousel>
    </div>
    <!-- <div [class]="editPreferencesClicked ? 'editPreferencesButtonClicked' : 'editPreferencesButton'" (click)="clickEditPreferences()" *ngIf="currentStep === 1">
        <button mat-raised-button [class]="editPreferencesClicked ? 'openTitle' : ''">
            <mat-icon>edit_location_alt</mat-icon> Edit Preferences
            <br>
            <br>
            <div *ngIf="editPreferencesClicked" style="float: left; text-align: left; font-size: 12pt;">
                <span>Number of Stops</span>
                <br>
                <span>Maximum Trip Duration (hours)</span>
                <br>
                <span>Trip Budget</span>
                <br>
                <span>Category Selection</span>
                <br>
                <span>Tag Search</span>
                <br>
                <button mat-raised-button class="refreshButton" (click)="closePreferences()">Cancel</button>
                <button mat-raised-button class="refreshButton" (click)="updatePreferences()">Done</button>
            </div>
        </button>
    </div> -->
</div>
