.tag {
    border-radius: 30px;
    color: white;
    width: 40%;
    height: 35px;
    display: flex;
    min-width: 100%;

    .tag-name {
        font-family: Poppins;
        font-weight: 400;
        margin-left: 5px;
        font-size: 11pt;
        margin-top: 7px !important;
    }

    .icon {
        margin-top: 7px !important;
        font-size: 16pt;
    }
}