@import '../../styles.scss';

.close-button {
    cursor: pointer;
}
.container {
    text-align: center;

    .account-forms {
        margin-top: 25px;

        .progressBar {
            width: 98%;
        }
    }

    a {
        font-size: 9pt;
        text-decoration: underline;
    }
}

.containerPreferences {
    display: grid;
    grid-template-rows: 550px 550px 550px;
    grid-template-columns: 350px 350px 350px;
    margin: 0 auto;
}


.slide {
    // margin: 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .poi-card {
        height: 275px;
        margin-left: 170px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 324px;
        border-radius: 15px;
        transition: max-height 0.125s;

        .image {
            width: 324px !important;
            margin-left: -16px;
            margin-top: -16px;

            img {
                height: 142px !important;
                width: 324px !important;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .poi-name-container {
            margin-left: 30px;
            margin-top: 15px;
            width: 250px;
            height: 40px;

            .poi-name {
                font-size: 16pt;
                font-weight: bold;
            }

            .poi-address {
                font-size: 10pt;
                margin-top: -15px !important;
                word-wrap: none;
            }
        }

        .show-more {
            margin-left: 128px;
            margin-top: 10px;
            cursor: pointer;
        }
    }

    .poi-card-expanded {
        height: auto;
        margin-left: 170px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 324px;
        border-radius: 15px;
        transition: height 0.125s;

        .image {
            width: 324px !important;
            margin-left: -16px;
            margin-top: -16px;

            img {
                height: 142px !important;
                width: 324px !important;
                object-fit: cover;
                border-radius: 15px;
            }
        }

        .poi-name-container {
            margin-left: 30px;
            margin-top: 15px;
            width: 250px;
            height: 40px;

            .poi-name {
                font-size: 16pt;
                font-weight: bold;
            }

            .poi-address {
                font-size: 10pt;
                margin-top: -15px !important;
                word-wrap: none;
            }
        }

        .show-more {
            margin-left: 128px;
            margin-top: 10px;
            cursor: pointer;
        }

        .trip-advisor, .cuisine-options, .personal-rating {

            .rating {
                margin-left: 13px;
                margin-top: 3px;
                font-size: 14pt;
                width: 225px;
                font-size: 13pt;
            }

            .trip-advisor-logo {
                height: 35px;
                margin-top: 6px;
                float: left;
            }
        }

        .cuisine-options {
            margin-top: -10px;

            .option {
                margin-left: 20px;
            }
        }

        .personal-rating {

            .personal-rating-span {
                margin-left: 13px;
            }
            .stars {
                font-size: 18pt;
                margin-bottom: 15px;
                margin-left: 10px;
            }
        }
    }
}

.container::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Track */
.container::-webkit-scrollbar-track {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    // background: url(../../assets/car.png) 0 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // -webkit-transform: rotate(90deg);
    // -moz-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // transform: rotate(90deg);
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.icon {
    background-color: $blue;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    float: left;
    -ms-user-select: none;

    span {
        font-size: 20pt;
        color: white;
        margin-top: 10px;
        -ms-user-select: none;
    }

    &.poi {
        margin-left: -20px;
        -ms-user-select: none;
    }

    }
    .lock-container {
    position: absolute; 
    z-index: 999;
    background-color: white;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    -ms-user-select: none;

    span {
        margin: 0 auto;
        color: black;
        -ms-user-select: none;
    }
}
