@import "../../styles.scss";

.card {
    background-color: $light-grey;
    border-radius: 100px;
    display: inline-block;
    padding: 5px;
    
    span {
        font-size: 11pt;
        font-family: Oswald;
        margin-left: 5px;
        margin-right: 5px;
    }
}