.settings {
    text-align: center;

    .title {
        font-family: Poppins;
        font-weight: 400;
        font-size: 16pt;
    }

    mat-slider {
        width: 50%;
    }

    span {
        font-family: Poppins;
        font-weight: 200;
    }
}