.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(240, 240, 240, 0.7);
    z-index: 123123123123123123;
    text-align: center;
}

.overlay__wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    span {
        font-size: 10pt;
        font-style: italic;
    }

    mat-progress-spinner::ng-deep {
        margin: 0 auto !important;
    }
}