{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Smart Route Home.html</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'frontend/src/styles.scss' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
  </head>
  <body>
    <!-- {%for point in route%}
    <div>{{point}}</div>
    {% endfor %} -->
    <app-root>
      Loading app ...
    </app-root>
    <script type="text/javascript" src="{% static 'frontend/dist/smart-route-app/runtime.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/dist/smart-route-app/polyfills.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/dist/smart-route-app/styles.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/dist/smart-route-app/vendor.js' %}"></script>
    <script type="text/javascript" src="{% static 'frontend/dist/smart-route-app/main.js' %}"></script>
  </body>
  </html>
