
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$smart-route-app-primary: mat-palette($mat-indigo);
$smart-route-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$smart-route-app-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$smart-route-app-theme: mat-light-theme((
  color: (
    primary: $smart-route-app-primary,
    accent: $smart-route-app-accent,
    warn: $smart-route-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($smart-route-app-theme);

/* You can add global styles to this file, and also import other style files */

html, body { 
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  // Fonts to be selected at later time. @team
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

// Global Variables

$yellow: #FFE590;
$grey: #707070;
$light-grey: #E3E3E3;
$white: #ffffff;
$blue: #488EFF;
$black: rgb(53, 53, 53);



// Angular Material Styling

mat-button-toggle-group {
  width: 300px !important;

  mat-button-toggle {
    width: 150px;
  }
}

.text-field, button.primary  {
    width: 300px !important;
    font-size: 12pt;
}

button.primary {
  height: 45px;
  background-color: $yellow !important;
  color: $black !important;
}

button.primary:disabled {
  height: 45px;
  background-color: white !important;
  border: 1px solid $grey;
  color: $black !important;
}

.mat-button-toggle {
  background-color: white !important;
}
  
.mat-button-toggle-checked {
  background-color: $yellow !important;
}


// Animations

// @keyframes on-hover {
//   0% {

//   }
// }