@import '../../styles.scss';

.container {
    background-color: $blue;
    border-radius: 30px;
    font-size: 8pt;
    color: white;
    padding: 4px;
    margin-right: 5px;
    display: inline;
    float: right;
    width: auto;
}