.container {
    text-align: center;
    margin-top: 150px;

    .account-forms {
        margin-top: 25px;

        .progressBar {
            width: 98%;
        }
    }

    a {
        font-size: 9pt;
        text-decoration: underline;
    }
}