@import '../../styles.scss';

.container {
    height: 80vh !important;
    margin-bottom: 25px;
    overflow-y: auto !important;
    margin-top: 20px;
    margin-left: -120px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 550px;
    border-radius: 25px;

    .location-card {
        height: 110px;
        width: 324px;
        border-radius: 50px;
        margin-left: 180px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        display: inline-flexbox;


        .starting-location-text {
            margin-left: 10px;
            font-size: 10pt;
        }

        .location-container {
            width: 220px;
            height: 64px;
            text-align: left;
            margin-top: 3px;
            margin-left: 52px;

            .starting-location {
                object-fit: cover;
                font-size: 20pt;
                line-height: 15px;
                word-wrap: normal;
            }
        }
    }

    .slide {
        margin: 15px;

        .poi-card {
            height: 275px;
            margin-left: 170px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 324px;
            border-radius: 15px;
            transition: height 0.125s;

            .image {
                width: 324px !important;
                margin-left: -16px;
                margin-top: -16px;

                img {
                    height: 142px !important;
                    width: 324px !important;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }

            .poi-name-container {
                margin-left: 30px;
                margin-top: 15px;
                width: 250px;
                height: 40px;

                .poi-name {
                    font-size: 16pt;
                    font-weight: bold;
                }

                .poi-address {
                    font-size: 10pt;
                    margin-top: -15px !important;
                    word-wrap: none;
                }
            }

            .show-more {
                margin-left: 128px;
                margin-top: 10px;
                cursor: pointer;
            }
        }

        .poi-card-expanded {
            height: auto;
            margin-left: 170px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: 324px;
            border-radius: 15px;
            transition: height 0.125s;

            .image {
                width: 324px !important;
                margin-left: -16px;
                margin-top: -16px;

                img {
                    height: 142px !important;
                    width: 324px !important;
                    object-fit: cover;
                    border-radius: 15px;
                }
            }

            .poi-name-container {
                margin-left: 30px;
                margin-top: 15px;
                width: 250px;
                height: 40px;

                .poi-name {
                    font-size: 16pt;
                    font-weight: bold;
                }

                .poi-address {
                    font-size: 10pt;
                    margin-top: -15px !important;
                    word-wrap: none;
                }
            }

            .show-more {
                margin-left: 128px;
                margin-top: 10px;
                cursor: pointer;
            }

            .trip-advisor {

                .rating {
                    float: left;
                    margin-left: 13px;
                    margin-top: 3px;
                    font-size: 14pt;
                    width: 225px;
                    font-size: 11pt;
                }

                .trip-advisor-logo {
                    height: 35px;
                    margin-top: 6px;
                    float: left;
                }
            }

            .cuisine-options {
                margin-top: 15px;
            }

            .personal-rating {
                .stars {
                    font-size: 18pt;
                    margin-bottom: 15px;
                }
            }
        }
    }
      
}

.container::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  
/* Track */
.container::-webkit-scrollbar-track {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Handle */
.container::-webkit-scrollbar-thumb {
    // background: url(../../assets/car.png) 0 0;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // -webkit-transform: rotate(90deg);
    // -moz-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // transform: rotate(90deg);
    background-size: 25px;
    background-repeat: no-repeat;
    border-radius: 10px;
}


.icon {
    background-color: $blue;
    height: 45px;
    width: 45px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    float: left;
    -ms-user-select: none;

    span {
        font-size: 20pt;
        color: white;
        margin-top: 10px;
        -ms-user-select: none;
    }

    &.poi {
        margin-left: -20px;
        -ms-user-select: none;
    }

}
.lock-container {
    position: absolute; 
    z-index: 999;
    background-color: white;
    border-radius: 25px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    text-align: center;
    padding: 5px;

    span {
        margin: 0 auto;
        color: black;
        -ms-user-select: none;
    }
}
