<div class="container">
    <mat-card class="location-card">
        <div class="col">
            <div class="icon">
                <span class="material-icons">location_on</span>
            </div>
        </div>
        <div class="col">
            <span class="starting-location-text">Starting Location</span>
            <br>
            <div class="location-container">
                <span class="starting-location">{{ this.startingLocation }}</span>
            </div>
        </div>
    </mat-card>
    <div *ngFor="let item of items; let i = index" class="slide">
        <mat-card [class]="(item.isExpanded) ? 'poi-card-expanded' : 'poi-card'">
            <div class="lock-container">
                <span class="material-icons lock-top" (click)="lockItem(item)">{{ (item.isLocked === 1) ? 'lock' : 'lock_open'}}</span>
            </div>
            <div class="image">
                <img [src]="item.img">
            </div>
            <div class="col">
                <div class="icons poi">
                    <span [class]="getColour(i)">{{ (item.type === 'R') ? 'restaurant' : 'attractions' }}</span>
                </div>
            </div>
            <div class="col">
                <div class="poi-name-container">
                    <span class="poi-name">{{ item.name }}</span>
                    <br>
                    <span class="poi-address">{{ item.address }}</span>
                </div>
                <div *ngIf="numberOfUsersInTrip">
                    <app-user-match [percentageMatch]="item.usersMatchPercentage"></app-user-match>
                </div>
            </div>
            <br>
            <br>
            <span class="material-icons show-more" (click)="toggleExpansion(item)">{{ (item.isExpanded === 1) ? 'expand_less' : 'more_horiz'}}</span>
            <br>
            <div *ngIf="item.isExpanded === 1">
                <!-- RESTAURANT -->
                <div class="restaurant-item" *ngIf="item.type === 'R'">
                    <div class="trip-advisor">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKVgOyUkQKg31OI0RJ4F1XXftk_1SnPaUOQQ&usqp=CAU" class="trip-advisor-logo">
                        <span class="rating">Trip advisor rating: <b>{{ item.tripAdvisorRating }}</b>. Click <u><a [href]="item.reviewsURL">here</a></u> to see reviews!</span>
                    </div>
                    <br>
                    <br>
                    <div class="cuisine-options">
                        <span class="rating"><b>Cuisine (Friendly) Options</b></span>
                        <div *ngFor="let option of item.cuisineOptions" class="option">
                            <span>{{ option }}</span>
                        </div>
                    </div>
                    <br>
                    <div class="personal-rating">
                        <span class="personal-rating-span"><b>Please rate this recommendation?</b></span>
                        <br>
                        <ngb-rating [(rate)]="item.currentRating" max="5" class="stars" (rateChange)="updateRating(item)"></ngb-rating>
                    </div>
                </div>

                <!-- TTD -->
                <div class="restaurant-item" *ngIf="item.type === 'T'">
                    <div class="trip-advisor">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKVgOyUkQKg31OI0RJ4F1XXftk_1SnPaUOQQ&usqp=CAU" class="trip-advisor-logo">
                        <span class="rating">Trip advisor rating: <b>{{ item.tripAdvisorRating }}</b>. Click <u><a [href]="item.reviewsURL">here</a></u> to see reviews!</span>
                    </div>
                    <br>
                    <br>
                    <div class="cuisine-options">
                        <span class="rating"><b>Categories</b></span>
                        <div *ngFor="let option of item.cats" class="option">
                            <span>{{ option }}</span>
                        </div>
                    </div>
                    <br>
                    <div class="personal-rating">
                        <span class="personal-rating-span"><b>Please rate this recommendation?</b></span>
                        <br>
                        <ngb-rating [(rate)]="item.currentRating" max="5" class="stars" (rateChange)="updateRating(item)"></ngb-rating>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <mat-card class="location-card">
        <div class="col">
            <div class="icon">
                <span class="material-icons">location_searching</span>
            </div>
        </div>
        <div class="col">
            <span class="starting-location-text">Ending Location</span>
            <br>
            <div class="location-container">
                <span class="starting-location">{{ this.endingLocation }}</span>
            </div>
        </div>
    </mat-card>
</div>