@import "../../styles.scss";

.container {
    min-width: 478px;

    .overlay {
        background-color: $white;
        margin-top: 100px;
        border-radius: 18px;
        text-align: center;
        margin-right: 125px !important;
        margin-bottom: 20px !important;
        overflow-y: visible;
    
        .locations {
            text-align: left !important;
            width: 90% !important;
            margin-left: 15px;
    
            .title {
                font-family: Poppins;
                margin-left: 10% !important;
                font-size: 16pt;
                margin-bottom: 10px !important;
            }
    
            button::ng-deep {
                border-radius: 15px;
                background-color: $blue;
                color: $white;
                font-family: Poppins;
                font-weight: 600;
                float: right;
            }    
        }
    
        .to {
            text-align: center !important;
        }
    
        button.route::ng-deep {
            border-radius: 15px;
            background-color: $blue;
            color: $white;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            width: 45% !important;
        }
        
        button.trip-settings::ng-deep {
            border-radius: 15px;
            border: 1px solid $blue;
            color: $blue;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            margin-left: 15px !important;
            width: 45% !important;
        }
    
        button.route:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }

        button.trip-settings:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }


    
        mat-form-field::ng-deep {
            width: 80%;
            margin-left: 15px;
            font-family: Poppins;
        }
    
        app-address-card {
            width: 50% !important;
        }
    }

    .container-trips {
        margin-left: -100px;
        width: 250px;
        height: 120px;
    }


    .refreshButton::ng-deep {
        margin-top: 120px;
        margin-left: 70px;
        margin-bottom: 20px;
        height: 40px;
        width: 324px;
        border-radius: 50px;
        background-color: $blue;
        color: $white;
        font-family: Poppins;
        font-weight: 600;
        font-size: 12pt;
    }

    .editPreferences-container {
        margin-left: 370px;
        margin-bottom: 20px;
        height: 40px;
        width: 224px;
        border-radius: 50px;
        background-color: $white;
        color: $black;
        text-align: center;
        transition: width 0.25s, height 0.125s;
        transition-timing-function: ease-in-out;
        cursor: pointer;

        .editPreferences {
            margin-bottom: 20px;
            height: 40px;
            width: 224px;
            border-radius: 50px;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
            user-select: none;

            mat-icon {
                margin-top: 5px !important;
            }

            span {
                margin-top: -3px;
            }
        }
    }

    .editPreferences-container-open {
        margin-left: 370px;
        margin-bottom: 20px;
        height: 600px;
        width: 470px;
        border-radius: 20px;
        background-color: $white;
        color: $black;
        text-align: center;
        transition: width 1s, height 0.5s;
        transition-timing-function: ease-in-out;

        .editPreferences {
            margin-bottom: 20px;
            margin: 0 auto;
            height: 40px;
            width: 224px;
            border-radius: 50px;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
            user-select: none;

            mat-icon {
                margin-top: 5px !important;
            }

            span {
                margin-top: -3px;
            }
        }
    }

    .preferences-shown {
        visibility: visible;
        opacity: 1;
        transition: opacity 1s;
        width: 300px;
        margin-left: -35px;
        margin-top: 20px;
    }

    .preferences-hidden {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s;
    }

    .close-pref {
        width: 100px;
        background-color: $white;
        border: 2px solid $black;
        color: $black;
        border-radius: 25px;
    }

    .update-pref {
        width: 130px;
        background-color: $blue;
        color: $white;
        border-radius: 25px;
        float: right;
    }

    .preference-label {
        font-size: 11pt;
    }

    input::-webkit-outer-spin-button,
        
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        
        input[type=number] {
        -moz-appearance: textfield;
        /* Firefox */
    }

    .incremental-button {
        background-color: rgb(238, 238, 238);
        width: 35px;
        height: 35px;
        border-radius: 100%;
        margin-right: 10px;
        margin-left: 10px;
        padding: 5px;
        text-align: center;
        float: left;
        cursor: pointer;
    }

    .preference-input {
        height: 35px;
        width: 80px;
        background-color: rgb(238, 238, 238);
        float: left;
        font-size: 14pt;
        border-radius: 25px;
        border: none;
        text-align: center;
    }

    .budget-container {        
        background-color: rgb(238, 238, 238);
        border-radius: 25px;
        display: inline-block;
        padding: 8px;
        margin: 0 auto;
        margin-top: 7px;

        .budget-container-dollar {
            float: right;
            width: 45px;
            margin-left: 3px;
            text-align: center;
            cursor: pointer;
        }

        .selected-budget-container {
            float: right;
            width: 45px;
            margin-left: 3px;
            background-color: white;
            border-radius: 15px;
            text-align: center;
        }
    }

    @keyframes expand-container {
        0% { width: 224px; height: 40px;}
        50% { width: 324px; height: 250px; }
        75% { wdith: 370px; height: 325px; }
        100% { width: 400px; height: 400px; }
    }

}