<div class="col-md-12 container">
    <div class="col-md-12 overlay" *ngIf="currentStep === 0" [formGroup]="startTripForm">
        <br>
        <div class="locations">
            <span class="title">Start Trip</span>   
        </div>
        <br>
        <mat-form-field appearence="fill">
            <mat-label>Starting Location Test</mat-label>
            <input matInput type="text" formControlName="startingLocation"
                    autocomplete="off">
        </mat-form-field>
        <mat-form-field appearence="fill">
            <mat-label>Ending Location</mat-label>
            <input matInput type="text"
            autocomplete="off"
            formControlName="endingLocation" 
            autocomplete="off">
        </mat-form-field>
        <br>
        <br>
        <button mat-button class="trip-settings"
        (click)="openTripSettings()">Trip Settings</button>
        <button mat-raised-button class="route"
        (click)="route()"
        [disabled]="isRouteDisabled">ROUTE</button>
        <br>
    </div>
    
    <div *ngIf="currentStep === 1">
        <div class="col-md-12 overlay">
            <br>
            <div class="locations">
                <span class="title">Trip Details</span>
                <button mat-raised-button *ngIf="hasBeenRouted" (click)="addIntermediaryAddress()">+ ADD</button>    
            </div>
            <br>
            <app-address-card [address]="startingLocation"></app-address-card>
            <br>
            <div *ngFor="let address of addresses">
                <br>
                <app-address-card [address]="intermediateLocationAddress"></app-address-card>
            </div>
            <br>
            <app-address-card [address]="endingLocation"></app-address-card>
            <br>
            <br>
        </div>
    </div>
    <div class="col-md-12 tags" *ngIf="hasBeenRouted">
        <app-tags tagName="Restaurants" icon="restaurant" color="#E96A6A" (click)="hasBeenClicked('restaurant')"
        [hasBeenClicked]="restaurantClicked"></app-tags>
        <app-tags tagName="Hotels" icon="hotel" color="#E76F51" (click)="hasBeenClicked('hotels')"
        [hasBeenClicked]="hotelsClicked"></app-tags>
        <app-tags tagName="Things to do" icon="event_available" color="#F4A261" (click)="hasBeenClicked('ttd')"
        [hasBeenClicked]="ttdClicked"></app-tags>
    </div>

    <ng-container *ngIf="restaurantClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Restaurants</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-form-field appearance="fill" style="width: 150px !important; font-size: 9px; float: right; margin-top: -5px;">
                    <mat-label>Sort By:</mat-label>
                    <mat-select formControlName="sortBy" [(ngModel)]="defaulOption.value" [placeholder]="defaulOption.value">
                      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <br>
            <hr>
            <div *ngFor="let restaurant of restaurants">
                <app-card [name]="restaurant[0]"
                    [address]="restaurant[1]"
                    [rating]="restaurant[2]"
                    [poi]="restaurant"
                    (poiAdded)="poiAdded($event)"
                    (poiLiked)="poiLiked($event)"
                    (poiDisliked)="poiDisliked($event)"
                ></app-card>
            </div>

        <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        </div>
    </ng-container>

    <ng-container *ngIf="hotelsClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Hotels</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-form-field appearance="fill" style="width: 150px !important; font-size: 9px; float: right; margin-top: -5px;">
                    <mat-label>Sort By:</mat-label>
                    <mat-select formControlName="sortBy" [(ngModel)]="defaulOption.value" [placeholder]="defaulOption.value">
                      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <br>
            <hr>
            <div *ngFor="let restaurant of restaurants">
                <app-card [name]="restaurant[0]"
                    [address]="restaurant[1]"
                    [rating]="restaurant[2]"
                    (poiAdded)="onPOIAdded($event)"
                ></app-card>
            </div>

        <mat-paginator [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
        </div>
    </ng-container>

    <ng-container *ngIf="ttdClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Things to do</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-form-field appearance="fill" style="width: 150px !important; font-size: 9px; float: right; margin-top: -5px;">
                    <mat-label>Sort By:</mat-label>
                    <mat-select formControlName="sortBy" [(ngModel)]="defaulOption.value" [placeholder]="defaulOption.value" (selectionChange)="sortBySelected($event)">
                      <mat-option *ngFor="let option of sortOptions" [value]="option.value">
                        {{option.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </div>
            <br>
            <hr>
            <div *ngFor="let restaurant of restaurants">
                <app-card [name]="restaurant[0]"
                    [address]="restaurant[1]"
                    [rating]="restaurant[2]"
                    (poiAdded)="onPOIAdded($event)"
                ></app-card>
            </div>

        <mat-paginator [length]="restaurants.length"
            [pageSize]="10"
            [pageSizeOptions]="[10, 25, 50]">
        </mat-paginator>
        </div>
    </ng-container>
</div>
