@import "../../styles.scss";

.container {
    min-width: 478px;

    .overlay {
        background-color: $white;
        margin-top: 100px;
        border-radius: 18px;
        text-align: center;
        margin-right: 125px !important;
        margin-bottom: 20px !important;
        overflow-y: visible;
    
        .locations {
            text-align: left !important;
            width: 90% !important;
            margin-left: 15px;
    
            .title {
                font-family: Poppins;
                margin-left: 10% !important;
                font-size: 16pt;
                margin-bottom: 10px !important;
            }
    
            button::ng-deep {
                border-radius: 15px;
                background-color: $blue;
                color: $white;
                font-family: Poppins;
                font-weight: 600;
                float: right;
            }    
        }
    
        .to {
            text-align: center !important;
        }
    
        button.route::ng-deep {
            border-radius: 15px;
            background-color: $blue;
            color: $white;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            width: 45% !important;
        }
        
        button.trip-settings::ng-deep {
            border-radius: 15px;
            border: 1px solid $blue;
            color: $blue;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            margin-left: 15px !important;
            width: 45% !important;
        }
    
        button.route:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }

        button.trip-settings:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }


    
        mat-form-field::ng-deep {
            width: 80%;
            margin-left: 15px;
            font-family: Poppins;
        }
    
        app-address-card {
            width: 50% !important;
        }
    }

    .container-trips {
        margin-left: -100px;
        width: 250px;
        height: 120px;

        .refreshButton::ng-deep {
            margin-top: 120px;
            margin-left: 70px;
            height: 40px;
            width: 324px;
            border-radius: 50px;
            background-color: $blue;
            color: $white;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
        }
    }

    .edit-preferences {
        margin-left: 350px;
        width: 330px;
        text-align: center;

        .editPreferencesButton {
            height: 40px;
            width: 250px;
            border-radius: 50px;
            background-color: $white;
            color: $black;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
            cursor: pointer;
            user-select:none;
       
            mat-icon {
                margin-top: 10px;
            }
        }

        .editPreferencesButtonClicked {
            height: 800px;
            width: 535px;
            border-radius: 50px;
            background-color: $white;
            color: $black;
            font-family: Poppins;
            font-weight: 600;
            font-size: 15pt;
            font-style: bold;
            user-select:none;
       
            .openTitle {
                margin-top: -380px;
            }

            mat-icon {
                visibility: hidden;
            }
        }
    }
    
    .tags {
        width: 100%;
        text-align: center;
        margin-top: -15px;
        margin-bottom: 5px;

        app-tags {
            cursor: pointer;
            display: inline-flex;
            margin-right: 3px;
        }
    }

    ::ng-deep.mat-tab-label, ::ng-deep.mat-tab-label-active{
        min-width: 10px !important;
        padding: 10px !important;
        // border-radius: 40px;
    }

    ::ng-deep.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
        display: none !important;
    }

    ::ng-deep.mat-tab-header-pagination-next.mat-tab-header-pagination-disabled {
        display: none !important;
    }

    .poi-card {
        background-color: white;
        width: 100%;
        border-radius: 18px;
        padding: 30px;
        height: 450px;
        overflow-y: scroll !important;

        .top-info {
            display: inline;

            .restaurants-info {
                float: left;
            }

            .filter-info {
                float: right;
            }

            .close-info {
                float: right;
            }

            .sort-info {
                float: right;
            }
        }
    }

    .container-card {
        height: auto !important;
        margin-bottom: 25px;
    }
}

.example-list {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    text-align: left !important;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .example-box-undraggable {
    padding: 20px 10px;
    color: rgba(0, 0, 0, 0.87);
    border-bottom: solid 1px #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    cursor: auto;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.buttons {
    margin-top: 15px;
}

mat-slider {
    margin-top: -12px;
    float: right;
}