<div class="col-md-12 container">
    <div class="col-md-12 overlay" *ngIf="currentStep === 0" [formGroup]="startTripForm">
        <br>
        <div class="locations">
            <span class="title">Start Trip</span>   
        </div>
        <br>
        <mat-form-field appearence="fill">
            <mat-label>Starting Location Test</mat-label>
            <input matInput type="text" formControlName="startingLocation"
                    autocomplete="off">
        </mat-form-field>
        <mat-form-field appearence="fill">
            <mat-label>Ending Location</mat-label>
            <input matInput type="text"
            autocomplete="off"
            formControlName="endingLocation" 
            autocomplete="off">
        </mat-form-field>
        <br>
        <div class="buttons">
            <button mat-raised-button class="route"
            (click)="route()"
            [disabled]="isRouteDisabled"><mat-icon>directions</mat-icon>Route</button>
            <button mat-button class="trip-settings" [disabled]="isRouteDisabled"
            (click)="explore()"><mat-icon>explore</mat-icon>Explore</button>
        </div>
    </div>
    
    <div *ngIf="currentStep === 1">
        <div class="col-md-12 overlay">
            <br>
            <div class="locations">
                <span class="title">Trip Details</span> 
                <button (click)="addIntermediaryAddress()"> to be removed </button>
            </div>
            <br>
            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box-undraggable">{{ startingLocation }}</div>
                <div *ngFor="let address of addresses" class="example-box" cdkDrag>
                    <mat-icon>drag_indicator</mat-icon>
                    <span class="draggableAddress">{{ address }}</span>
                </div>
                <div class="example-box-undraggable">{{ endingLocation }}</div>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="col-md-12 tags" *ngIf="hasBeenRouted">
        <app-tags tagName="Restaurants" icon="restaurant" color="#E96A6A" (click)="hasBeenClicked('restaurant')"
        [hasBeenClicked]="restaurantClicked"></app-tags>
        <app-tags tagName="Hotels" icon="hotel" color="#E76F51" (click)="hasBeenClicked('hotels')"
        [hasBeenClicked]="hotelsClicked"></app-tags>
        <app-tags tagName="Things to do" icon="event_available" color="#F4A261" (click)="hasBeenClicked('ttd')"
        [hasBeenClicked]="ttdClicked"></app-tags>
    </div>

    <ng-container *ngIf="restaurantClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Restaurants</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-slider
                    thumbLabel
                    value="5"
                    min="1"
                    max="99"
                    [displayWith]="captureValue"
                    (change)="updateMaximumDetour($event)"
                ></mat-slider>
            </div>
            <br>
            <hr>
            <div *ngFor="let restaurant of pageSlice">
                <app-card [name]="restaurant[0]"
                    [address]="restaurant[1]"
                    [rating]="restaurant[2]"
                    [poi]="restaurant"
                    (poiAdded)="poiAdded($event)"
                    (poiLiked)="poiLiked($event)"
                    (poiDisliked)="poiDisliked($event)"
                ></app-card>
            </div>

        <mat-paginator [length]="restaurants.length"
            [pageSize]="10"
            (page)="onPageChange($event)">
        </mat-paginator>
        </div>
    </ng-container>

    <ng-container *ngIf="hotelsClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Hotels</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-slider
                    thumbLabel
                    value="5"
                    min="1"
                    max="99"
                    [displayWith]="captureValue"
                    (change)="updateMaximumDetour($event)"
                ></mat-slider>
            </div>
            <br>
            <hr>
            <div *ngFor="let hotel of pageSlice">
                <app-card [name]="hotel[0]"
                    [address]="hotel[1]"
                    [rating]="hotel[2]"
                    (poiAdded)="poiAdded($event)"
                ></app-card>
            </div>

            <mat-paginator [length]="hotels.length"
                [pageSize]="10"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </ng-container>

    <ng-container *ngIf="ttdClicked" class="container-card">
        <div class="poi-card" [formGroup]="sortFormGroup">
            <div class="top-info">
                <h5 class="restaurants-info">Things to do</h5>
                <mat-icon class="close-info">close</mat-icon>
                <mat-icon class="filter-info">filter_alt</mat-icon>
                <mat-slider
                    thumbLabel
                    value="5"
                    min="1"
                    max="99"
                    [displayWith]="captureValue"
                    (change)="updateMaximumDetour($event)"
                ></mat-slider>
            </div>
            <br>
            <hr>
            <div *ngFor="let ttd of pageSlice">
                <app-card [name]="ttd[0]"
                    [address]="ttd[1]"
                    [rating]="ttd[2]"
                    (poiAdded)="onPOIAdded($event)"
                ></app-card>
            </div>

            <mat-paginator [length]="ttds.length"
                [pageSize]="10"
                (page)="onPageChange($event)">
            </mat-paginator>
        </div>
    </ng-container>
</div>
