@import "../../styles.scss";

.container {
    min-width: 478px;

    .overlay {
        background-color: $white;
        margin-top: 100px;
        border-radius: 18px;
        text-align: center;
        margin-right: 125px !important;
        margin-bottom: 20px !important;
        overflow-y: visible;
    
        .locations {
            text-align: left !important;
            width: 90% !important;
            margin-left: 15px;
    
            .title {
                font-family: Poppins;
                margin-left: 10% !important;
                font-size: 16pt;
                margin-bottom: 10px !important;
            }
    
            button::ng-deep {
                border-radius: 15px;
                background-color: $blue;
                color: $white;
                font-family: Poppins;
                font-weight: 600;
                float: right;
            }    
        }
    
        .to {
            text-align: center !important;
        }
    
        button.route::ng-deep {
            border-radius: 15px;
            background-color: $blue;
            color: $white;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            width: 45% !important;
        }
        
        button.trip-settings::ng-deep {
            border-radius: 15px;
            border: 1px solid $blue;
            color: $blue;
            font-family: Poppins;
            font-weight: 600;
            margin-bottom: 5%;
            margin-left: 15px !important;
            width: 45% !important;
        }
    
        button.route:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }

        button.trip-settings:disabled::ng-deep {
            border-radius: 15px;
            // background-color: $disabled;
            // color: $grey;
            opacity: 0.5;
            margin-bottom: 5%;
            width: 60%;
        }


    
        mat-form-field::ng-deep {
            width: 80%;
            margin-left: 15px;
            font-family: Poppins;
        }
    
        app-address-card {
            width: 50% !important;
        }
    }

    .container-trips {
        margin-left: -100px;
        width: 250px;
        height: 120px;

        .refreshButton::ng-deep {
            margin-top: 120px;
            margin-left: 70px;
            margin-bottom: 20px;
            height: 40px;
            width: 324px;
            border-radius: 50px;
            background-color: $blue;
            color: $white;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
        }
    }

    .edit-preferences {
        margin-left: 350px;
        width: 330px;
        text-align: center;

        .editPreferencesButton {
            height: 40px;
            width: 250px;
            border-radius: 50px;
            background-color: $white;
            color: $black;
            font-family: Poppins;
            font-weight: 600;
            font-size: 12pt;
            cursor: pointer;
            user-select:none;
       
            mat-icon {
                margin-top: 10px;
            }
        }

        .editPreferencesButtonClicked {
            height: 800px;
            width: 535px;
            border-radius: 50px;
            background-color: $white;
            color: $black;
            font-family: Poppins;
            font-weight: 600;
            font-size: 15pt;
            font-style: bold;
            user-select:none;
       
            .openTitle {
                margin-top: -380px;
            }

            mat-icon {
                visibility: hidden;
            }
        }
    }
}